body{
  background: white;
}

.header{
  background: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  margin: auto;
  padding: 7px;
  padding-left: 50px;
  color: black;
  height: 40px;
}

p{
  font-size: 30px;
  font: bold;
  margin-top: 1px;
}

.sidebar{
  position: absolute;
  top: 70px;
  background: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 540px;
  width: 200px;
  padding-left: 70px;
}

h2{
  margin-top: 50px;
}



.icon{
  position: absolute;
  top: 55px;
  left: 30px;
}

.account{
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
}

.task{
  position: absolute;
  top: 137px;
  left: 30px;
  cursor: pointer;
}

.task:hover{
  color: blue;
}

.logo{
  position: absolute;
  top: 17px;
  left: 10px;
}

.table-data{
  border: 2px solid black;
  border-radius: 12px;
  margin: auto;
  margin-left: 350px;
  margin-top: 100px;
  height: 200px;
}

.data-body{
 text-align: center;
}

.switch{
 position: absolute;
 top: 80px;
 right: 130px;
 width: 100px;
 height: 35px;
 border-radius: 8px;
 border: none;
 background: blue;
 color: white;
 cursor: pointer;
}